[submodule "gz_ros2_control"]
	path = src/gz_ros2_control
	url = git@github.com:kulkarni-raunak/gz_ros2_control.git
[submodule "src/turtlebot3_simulations"]
	path = src/turtlebot3_simulations
	url = git@github.com:ahmadSum1/turtlebot3_simulations.git
	branch = azeey/new_gazebo
[submodule "src/navigation2"]
	path = src/navigation2
	url = git@github.com:ahmadSum1/navigation2.git
	branch = humble-garden
[submodule "src/navigation2_tutorials"]
	path = src/navigation2_tutorials
	url = https://github.com/ahmadSum1/navigation2_tutorials.git
	branch = humble-garden